<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<body>
<div th:fragment="footer">
    <footer class="footer py-4 text-center">
        <div class="container">
            <div class="row">
                <div class="col-md-6 text-md-start">
                    <span class="text-muted">© 2025 Fewster URL Shortener. All rights reserved.</span>
                </div>
                <div class="col-md-6 text-md-end">
                    <a href="https://github.com/vbforge" class="text-muted me-3"><i class="fab fa-github"></i></a>
                    <a href="https://www.linkedin.com/in/vlad-bogdantsev-7897662b2/" class="text-muted"><i
                            class="fab fa-linkedin"></i></a>
                    <a th:href="@{/about}" class="footer-nav-item"><i class="fas fa-info-circle me-2"></i> </a>
                    <a th:href="@{/contact}" class="footer-nav-item"><i class="fas fa-envelope me-2"></i> </a>

                </div>
            </div>
        </div>
    </footer>
</div>
</body>
</html>